@import "./base.css";

#app {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0.6em;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(104, 102, 102, 0.8);
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, rgb(37, 37, 37), rgb(94, 84, 75));
}
